section(id="about" class="section section-bg-light section-top-rise section-bottom-rise")
  .section-inner
    .container
      header.heading
        h2 About
        .seperator
      .row
        div(class="col span_4 center")
          .site-photo
            img(src="images/photo.jpg" width="250" height="250" alt="Photo of Stephen" class="photo")
        div(class="col span_8")
          h3 I am a Passionate Developer and
          p I love learning, making and building all things code and electronics. I enjoy the challenge
          | of figuring out new languages and frameworks.
          ul.social-nav
            li
              a(href="#")
                i(class="fa fa-github")
            li
              a(href="#")
                i(class="fa fa-stack-overflow")
            li
              a(href="#")
                i(class="fa fa-linkedin")