section(id="about" class="section section-bg-light section-top-rise section-bottom-rise")
  .section-inner
    .container
      header.heading
        h2 About
        .separator
      .row
        div(class="col span_4 center")
          .site-photo
            img(src="images/photo.jpg" width="250" height="250" alt="Photo of Stephen" class="photo")
        div(class="col span_8")
          h3 Fervent, Forward-Thinking Developer
          p I love learning, making and building all things code and electronics. I enjoy the challenge of figuring out how someting works and then designing and building my own version. I try to stay as current as I can with my skills, which can be exhausting but is certainly rewarding. Being able to look at my previous projects and seeing ways they could be improved upon is a great feeling. That is why I could never coast through my career. Well that and the fear of someone complaining about maintaining my code. If I'm not at work or in my office, tinkering with Arduinos or reading a book about microservices, you could find me out on the golf course, playing my guitar, watching a Blackhawks game or just hanging out with friends and family. 
          ul.social-nav
            li
              a(href="https://github.com/stephengilboy")
                i(class="fa fa-github")
            li
              a(href="http://stackoverflow.com/users/621827/stephen")
                i(class="fa fa-stack-overflow")
            li
              a(href="https://www.linkedin.com/pub/stephen-gilboy/6/640/6")
                i(class="fa fa-linkedin")