section#contacts(class="section section-bg-img section-bg-overlay section-top-rise")
  .bg
  .section-inner
    .container
      header.heading
        h2 Contact
        .separator
      .contacts
        .row
          div(class="col span_4")
            .contacts-item
              .icon-b
                i(class="fa fa-map-marker")
              address.adr
                span.country-name USA, 
                span.locality Chicago, IL
          div(class="col span_4")
            .contacts-item
              .icon-b
                i(class="fa fa-send")
              a.email(href="mailto:sgilboy@gmail.com") sgilboy@gmail.com
          div(class="col span_4")
            .contacts-item
              .icon-b
                i(class="fa fa-file-pdf-o")
              a.email(href="ResumeStephenGilboy.pdf") Resume