section#expirience(class="section")
  .section-inner
    .container
      header.heading
        h2 Experience
        .separator
        
      .expirience
        .expirience-item
          div(class="icon-b wow bounceIn")
            i(class="fa fa-briefcase")
          div(class="expirience-item-inner wow bounceInRight")
            .date 2012 - Present
            h3 Sr. Solutions Consultant
              br
              small Rightpoint Consulting
            p Hired on to the best consulting agency in Chicago. Here I work with a lot of smart and creative people making web and mobile applications for many different clients in a wide range of industries. Since working at Rightpoint, I have developed MVC, Angular, KnockoutJS, Windows Mobile and Xamarin.Forms applications, to name a few. I also started Rightpoint Labs, a club where employees could collaborate on fun and interesting projects. The first project we released was 
              a(href="https://github.com/rightpointlabs/pourcast") Pourcast
              | . 
              a(href="http://pourcast.labs.rightpoint.com/") Check out what's on tap!
        .expirience-item
          div(class="icon-b wow bounceIn")
            i(class="fa fa-area-chart")
          div(class="expirience-item-inner wow bounceInLeft")
            .date 2012 - 2012
            h3 Nonvoting Member &
              br 
              | Software Developer
              br
              small Green 7 Capital Management
            p Joined this startup as a developer working on building a new trading platform. A lot of database design work and custom application development. Everything was going well, until I figured out we were more the cubs of LaSalle Street and I had to find a new place to work. 
        .expirience-item
          div(class="icon-b wow bounceIn")
            i(class="fa fa-line-chart")
          div(class="expirience-item-inner wow bounceInRight")
            .date 2010 - 2012
            h3 Web & Software Developer
              br
              small Scalp Trade
            p Developed a web application that allowed managers to track the P&L and positions of the traders, no more Excel sheets. Also built some WinForms applications used to find opportunities for traders to get into. 
        .expirience-item
          div(class="icon-b wow bounceIn")
            i(class="fa fa-road")
          div(class="expirience-item-inner wow bounceInLeft")
            .date 2009 - 2010
            h3 Freelance Web Developer
              br
              small Chicago, IL
            p Built websites for clients using PHP, jQuery and Wordpress. I know, I know, but you have to start somewhere, right?
        .expirience-item
          div(class="icon-b wow bounceIn")
            i(class="fa fa-globe")
          div(class="expirience-item-inner wow bounceInRight")
            .date 1985 - 2009
            h3 This and That
              br
              small United States and a bit of Canada
            p Discovering people, places and things. A lot of time spent figuring out how computers and this new thing called the internet worked.
        .expirience-item
          div(class="icon-b wow bounceIn")
            i(class="fa fa-map-signs")
          div(class="expirience-item-inner wow bounceInLeft")
            .date -13.9 Billion - 1985
            h3 Big Bang Survivor
              br
              small Universe
            p Was part of a 13.8 billion light year journey across the universe.