doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Stephen Gilboy - Developer
    meta(name="description" content="Portfolio for Stephen Gilboy, a developer based out of Chicago, IL.")
    meta(name="keywords" content="stephen gilboy, developer, .net, C#, javascript, cloud, microservices")
    meta(name="author" content="Stephen Gilboy")
    <!-- build:style libraries -->
    <!-- /build -->
    link(href="http://fonts.googleapis.com/css?family=Roboto+Mono:400,400italic,700italic,700%7CNothing+You+Could+Do" rel="stylesheet")
  body
    include ./nav.jade
    div(class="wrapper h-card")
      include ./intro.jade
      include ./about.jade
      include ./experience.jade
      include ./skills.jade
      include ./contact.jade

    <!-- build:script libs -->
    <!-- /build -->