section(id="intro" class="section section-bg-img section-bg-overlay section-bottom-rise")
  .bg
  .section-inner
    .container
      .intro
        header.heading
          i(data-wow-delay="0.1s" class="fa fa-4x fa-code wow fadeInDown")
          h1(class="wow zoomIn")
            span.name I am 
              span.fn Stephen Gilboy
            span(class="animated-letters category")
              b.is-visible Developer
              b Maker
              b Inquisitor
          div(class="separator wow zoomIn")
        div(data-wow-delay="0.1s" class="wow fadeInUp")
          a(href='#contacts' class="btn btn-bordered btn-go") Get In Touch
  canvas#particles