.main-nav
  nav
    ul
      li
        a(href="#intro") Intro
      li
        a(href="#about") About
      li
        a(href="#expirience") Experience
      li
        a(href="#skills") Skills
      li
        a(href="#contacts") Contact
  div(class="btn-icon btn-nav")
    .line
    .line
    .line