section#skills(class="section section-bg-light section-top-fall section-bottom-fall")
  .section-inner
    .container
      .row
        div(class="col span_8")
          h3 My Skills
          div(class="separator l")
          p My primary language is C# but I also write a lot of JavaScript. My current skill set includes: 
            em C#, JavaScript, TypeScript, AngularJS, ASP.NET MVC/WebAPI, Entity Framework, Azure, Xamarin... 
            | I am currently learning a lot about: 
            em Domain Driven Design, MicroServices, Cloud Architecture... 
            | Outside of that I cook, play guitar and golf. 
        div(class="col span_4")
          .skills
            div(data-progress="90" class="skills-item wow")
              .skills-item-progress
              h4 C#
            div(data-progress="85" class="skills-item wow")
              .skills-item-progress
              h4 JavaScript
            div(data-progress="80" class="skills-item wow")
              .skills-item-progress
              h4 Angular
            div(data-progress="95" class="skills-item wow")
              .skills-item-progress
              h4 ASP.NET MVC/Web API
            div(data-progress="40" class="skills-item wow")
              .skills-item-progress
              h4 Guitar
            div(data-progress="20" class="skills-item wow")
              .skills-item-progress
              h4 Golf